.menu {
    width: 200px;
    background-color: black;
    border-radius: 10px;
    /* margin-right: 50px; */
    color: rgba(255, 255, 255, 0.87);
    display: grid;
    max-height: 700px;
    grid-template-rows: 
        auto 1fr auto;
}

.menuPartOne {
    border: 1px sold white;
}

.menuPartTwo {
    display: inline-grid;
    grid-template-rows: repeat(6, 40px);
    margin-top: 45px;
}

.menuPartThree {
    max-height: 80px;
}

.menuItem {
    display: inline-flex;
    margin: 0 35px 0 15px;
}

.icon {
    width: 20px;
    height: 20px;
    margin-inline: 5px;
    padding-top: 5px;
}


li {
    list-style: none;
}

a {
    padding-bottom: 5px;
    color: rgba(255, 255, 255, 0.87);
}

a:hover {
    color: rgb(105, 45, 245)
}